:root {
  --dark-bg: #212529;
  --navbar-height: 10vh;
  --main-height: 90%;
  --min-main-height: 90vh;
}

#main-container {
  background-color: gainsboro;
  display: grid;
  grid-template-rows: var(--navbar-height) var(--min-main-height);
  height: 100%;
  padding: 0;
}

.text-center {
  text-align: center;
}

a {
  color: whitesmoke;
  height: fit-content;
  text-decoration: none;
}

a:hover {
  transform: scale(1.2);
}

ul,
li {
  list-style-type: none;
}

.card {
  text-align: center;
}

.card-header {
  align-items: center;
  display: flex;
  height: 8vh;
  justify-content: center;
}

.button-group {
  display: flex;
  gap: 1rem;
}

img.card-img-top {
  align-self: center;
  width: 50%;
  object-fit: scale-down;
}

.pad-left {
  padding-left: 20px !important;
}

input {
  padding: 5px 10px !important;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px !important;
  width: fit-content;
}

.btn {
  background-color: var(--dark-bg);
  color: whitesmoke;
}

.btn:hover {
  background-color: whitesmoke;
  color: var(--dark-bg);
  transform: scale(1.2);
}

.save-btn {
  position: absolute;
  right: 0;
  top: 1.5rem;
}

.user-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

#logout-btn {
  border-radius: 10px;
  color: whitesmoke;
}

#logout-btn:hover {
  background-color: transparent;
  color: whitesmoke;
}

#main-logo {
  height: 100%;
  margin: 0 auto;
  width: fit-content;
}

#main-logo:hover {
  background-color: var(--dark-bg);
  transform: scale(1.2);
}

.calendar-icon {
  height: 5vh;
}
